<div class="input-control shadow-input">
	<label for="{{this.name}}" class="input-label-text">{{this.label}}</label>
	<input class="input" name="{{this.name}}" id="{{this.name}}" type="{{this.type}}" autocomplete="off">
	<span class="input-error"></span>
</div>
