<div class="container">
  <div class="registration">
    <h2>Данные пользователя</h2>
    <div>
      {{{firstName}}}
      {{{firstNameError}}}
    </div>
    <div>
      {{{secondName}}}
      {{{secondNameError}}}
    </div>
    <div>
      {{{displayName}}}
      {{{displayNameError}}}
    </div>
    <div>
      {{{email}}}
      {{{emailError}}}
    </div>
    <div>
      {{{login}}}
      {{{loginError}}}
    </div>
    <div>
      {{{phone}}}
      {{{phoneError}}}
    </div>
    {{{cancelButton}}}
    {{{saveButton}}}
  </div>
</div>
