<div class="container">
  <div class="registration">
    <h2>Данные пользователя</h2>
    <div>{{{firstName}}}</div>
    <div>{{{secondName}}}</div>
    <div>{{{displayName}}}</div>
    <div>{{{email}}}</div>
    <div>{{{login}}}</div>
    <div>{{{phone}}}</div>
    {{{cancelButton}}}
    {{{saveButton}}}
  </div>
</div>
