<h2>{{title}}</h2>

<form>

	{{#each list}}

		<div class="input-control shadow-input">
				<label for="{{this.name}}" class="input-label-text">{{this.label}}</label>
				<input class="input" name="{{this.name}}" id="{{this.name}}" type="{{this.type}}">
				<span class="input-error"></span>
		</div>

	{{/each}}

</form>

<button class="btn_submit">авторизоваться</button>
