<div class="chat">
  {{#if selectedChatId}}

  <div class="header">
    <img src={{avatarSrc}} alt="avatar">
    <div class="chat-about">
      <div class="chat-with">Чат {{ chat.title }}</div>
      <div class="amount-messages">У вас {{ chat.unread_count }} новых сообщения</div>
    </div>
  </div>

  <div class="body">
    <div class="add-user">{{{addUser}}}</div>
    <ul>
      <li class="special-fix">
        <div class="message-data align-right">
          <span class="message-data-time">дата</span>
          <span class="message-data-name">Отправитель</span>

        </div>
        <div class="message your-message float-right">
          это главный хбс чата
        </div>
      </li>

      <li class="no_decoration">
        <div class="message-data">
          <span class="message-data-name">Твой друг</span>
          <span class="message-data-time">дата</span>
        </div>
        <div class="message my-message">
          ок
        </div>
      </li>
    </ul>
  </div>

  <div>
    <form class="footer">
      <input name="message" type="text" class="input-message">
      <button class="send-button">отправить</button>
    </form>
  </div>

  {{else}}
      <div class="chat-plug">Выберите чат</div>

  {{/if}}
</div>
