<div class="container">
  <div class="profile">
    <img src={{ avatar }} alt="avatar">
    {{ first_name }} {{ second_name }}<br />
    {{ login }}<br />
    {{ display_name }}<br />
    {{ id }}<br />
    {{ email }}<br />
    {{ phone }}<br />
    {{{ button }}}
    {{{editButton}}} {{{changePasswordButton}}}
  </div>
</div>
