<div class="container">
  <div class="profile">
    <img src={{ avatarSrc }} alt="avatar" class="avatar">
    <div>
      <label for="file">Щелкни чтобы выбрать аватар</label>
      {{{ avatarInput }}}
    </div>
    {{ first_name }} {{ second_name }}<br />
    {{ login }}<br />
    {{ display_name }}<br />
    {{ id }}<br />
    {{ email }}<br />
    {{ phone }}<br />
    {{{ button }}}
    {{{editButton}}} {{{changePasswordButton}}}
  </div>
</div>
