<div class="container">
  <div class="registration">
    <h2>Зарегистрироваться</h2>
    <div class="style_string">
      <div class="style_string">{{{firstName}}}</div>
      <div>{{{secondName}}}</div>
      <div>{{{email}}}</div>
      <div>{{{login}}}</div>
      <div>{{{phone}}}</div>
      <div>{{{password}}}</div>
    </div>
    {{{button}}}
    {{{link}}}
  </div>
</div>


<!--<h2>{{title}}</h2>-->

<!--<form class="form form_registration">-->
<!--	<div class="controls"></div>-->
<!--	<button type="submit" class="btn-submit">зарегистрироваться</button>-->
<!--</form>-->

